[push]
	default = simple
[user]
	email = peter@kalambet.dev
	name = Peter Kalambet
	signingkey = C5E55BCE3FF12E7D
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[gpg]
	program = gpg
[commit]
	gpgsign = true
[core]
	ignorecase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
